There are {{ pod_list.resources | length }} pods


Pod Name     Launch_Date                UUID
{% for pod in pod_list.resources %}
{{ pod.metadata.name }} {% if instance.tags.Name is defined %} {{ instance.tags.Name }} {% endif %}

{% endfor %}
